@import 'https://fonts.googleapis.com/css?family=Noto+Serif';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Serif';
body {
    background-color: #3399cc;
}

.large {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Noto Serif', serif;
}