/*
    Coffee
    */
.coffee-quote {
    font-size: 30px;
    color: #16445f;
}
.menu {
    border: 4px solid #ddd;
    text-align: left;
    padding: 20px;
}
dt {
font-size: 20px;
font-weight:bold;
margin-bottom: 5px;
}
dd {
    color: #666;
    margin-left: 20px;
    margin-bottom: 20px;
}
/* About */
.about-list-container {
    border: 4px solid #ddd;
    text-align: left;
    padding: 20px;
    margin: 20px;
}  