body {
    font-family: arial, sans-serif;
    margin: 0;
}
/* Navigation */
.main-nav {
    min-height: 0px;
    background-color: ffffff;
    font-size: 20px;
    text-align: right;
}    
.nav-link {
    box-sizing:border-box;
    color:#fff;
    text-decoration:none;
    height:40px;
    line-height:38px;
    font-size:20px;
    display:inline-block;
    margin:10px 5px;
    padding:0 15px;
    border-radius:20px;
    border:2px solid rgba(255,255,255,0);
    transition:all 0.2s ease;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color:#000000;
}
.nav-teal {
    color: #000000;
}
.nav-blue {
    color: #000000;
}
.nav-red {
    color: #000000;

}

/* hero styles */
.hero {
    color: #ffffff;
    min-height: 1000px;
    background-image: url('images/icetravels_sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;

}
.hero-h1 {
    margin: 10;
    padding-top: 200px;
}

a.btn {
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,
	rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 50px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 1s ease;
}

#home .hero {
 background-image: url('images/icetravels_sky.png');
}
#tutorial .hero {
 background-image: url('images/iceland_lights.jpg');
}